body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

select, input[type="radio"] {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

#tipoTreino {
    margin-top: 10px;
}

/* Estilos para o botão Gerar Treino */
#generateButton {
    background-color: #007bff; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    padding: 10px 15px; /* Espaçamento interno (vertical, horizontal) */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 20px; /* Margem superior */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

/* Efeito de hover */
#generateButton:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

#resultado-treino {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}

#resultado {
    margin-bottom: 40px; /* Adiciona um espaço abaixo do resultado para garantir que o botão fique separado */
}